body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* change the striped background colors*/
.table-striped > tbody > tr:nth-child(2n+1) > td {
    
    background-color: palegoldenrod;   
    font-weight:bold    
}

.table-striped > tbody > tr:nth-child(2n+2) > td {
    
    background-color: lightgray;
    font-weight: bold;
}

/*change the table hover color*/
.table-hover tbody tr:hover td{
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
