@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Dominic Crapuchettes grew up designing and inventing board games since he was nine years old. He fulfilled a lifelong goal of starting a board game company in 2003 while attending Robert H. Smith School of Business at the University of Maryland, College Park. MBA classmate Satish Pillalamarri joined the company full-time after graduation in 2004. Crapuchettes and Pillalamarri raised money from friends, family and even faculty to fund the first run of Cluzzle board games. In time more games followed and North Star board games began to appear on the shelves of specialty gaming stores and later Target Corporation. When it came time to name the venture, founder Dominic Crapuchettes chose the name 'North Star' in reference to a stormy night off the coast of Alaska when the salmon fishing boat he was piloting lost electrical power and Crapuchettes was forced to use the North Star to guide the boat safely home. On that night, Dominic vowed to quit fishing and start the board game company that he had dreamed about since childhood.









</p>
