@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>Visit <a href="https://www.northstargames.com/pages/partnersupport" target="_blank">this link</a> for any wholesale questions.</p>
<p>If you would like to pitch a game, <a href="https://www.northstargames.com/pages/submission-policy" target="_blank">click here</a> for more information.</p>
<p>If you would like to give us a call our number is: <strong>240.558.3850</strong></p>