@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-4">
            <h2>Evolution: Base Game</h2><br />
            <img src="https://images-na.ssl-images-amazon.com/images/I/7132aBQFh2L._SL1000_.jpg" height="200" alt="Evolution: Base Game" /><br /><br />
            <p style="height: 250px">
                In Evolution, players create and adapt their own species in a dynamic ecosystem with hungry predators and limited resources. Traits like Hard Shell and Horns will protect you from Carnivores, while a Long Neck will help you get food that others cannot reach. With over 12000 different species to create, every game becomes a different adventure. So gather your friends around the table and see who will best adapt their species to eat, multiply and thrive!
            </p>
            <p><a class="btn btn-default" target="_blank" href="https://www.amazon.com/North-Star-Games-Evolution-Strategic/dp/B0725LRH1W/ref=sr_1_1?keywords=evolution+board+game&qid=1567782822&s=gateway&sr=8-1">Buy Here... &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Evolution: Climate</h2><br />
            <img src="https://images-na.ssl-images-amazon.com/images/I/717jQOv0B1L._SL1024_.jpg" height="200" alt="Evolution: Climate" /><br /><br />
            <p style="height: 250px">
                Evolution: climate takes the evolution to the next level by introducing an ever-changing and often unforgiving climate into the mix. Give your species a long neck to get food that no one else can reach, evolve a coat of heavy fur for protection against the bitter ice age, or feed at night with nocturnal to avoid the heat of the cruel desert sun. With amazing new traits, extraordinary new challenges, and over 200,000 ways to adapt your species, evolution: climate is the most diverse, strategic, and rewarding evolution version yet.
            </p>
            <p><a class="btn btn-default" target="_blank" href="https://www.amazon.com/North-Star-Games-520NSG-Evolution/dp/B01MAZ8MPX/ref=sr_1_2?keywords=evolution+board+game&qid=1567782974&s=gateway&sr=8-2">Buy Here... &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Evolution: Flight</h2><br />
            <img src="https://images-na.ssl-images-amazon.com/images/I/51J-3uf%2BXuL.jpg" height="200" alt="Evolution: Flight" /><br /><br />
            <p style="height:250px">
                Flight is an expansion for the Evolution game system that introduces avian species into the ecosystem.  Now your species can swoop in on unsuspecting prey from above, fly away from predators, or soar to a new location when food is scarce.  Will the ability to fly propel you to new heights?  Or will it bring about your downfall?  Explore the expanding Evolution world and find out.
            </p>
            <p><a class="btn btn-default" target="_blank" href="https://www.amazon.com/North-Star-Games-Evolution-Strategic/dp/B0115PRK7E/ref=sr_1_3?keywords=evolution+board+game&qid=1567782974&s=gateway&sr=8-3">Buy Here... &raquo;</a></p>
        </div>
    </div>